cryptography
requests
bs4
pyfiglet
pycryptodome
pycryptodomex
bcrypt
flask
httpx
colorama
pystyle
asyncio
aiofiles
aiohttp
aiohttp[speedups]
aiohttp-jinja2
aiohttp-session
aiohttp-swagger
aiohttp-apispec
aiohttp-cors
aiohttp-debugtoolbar
aiohttp-devtools